@font-face {
  font-family: 'TMJ';
  src: url('../fonts/tmj_by_mallagueta_pepper-d62rr8r.ttf');
}

body {
  background-image: url('../img/fundo2.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  height: 100vh;
}

h1 {
  text-align: center;
  font-family: 'TMJ', sans-serif;
  font-size: 50px;
  color: red;
  text-shadow: 2px 2px yellow, -1px -2px yellow, 1px -2px yellow, -1px 2px yellow, 0px 0px 2px #ff0;
  margin: 0px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 130px;
  height: 160px;
  margin: 10px;
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
  transition: transform 0.4s;
}

.card.flip {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
  transform: rotateY(180deg);
  border-style: solid;
  border-color: black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  transform: rotateY(0deg);
  background-color: #9f9292;
  border-radius: 5px;
}

#logo {
  width: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scoreboard {
  display: flex;
  align-items: center;
  margin: 0px;
  justify-content: center;
  font-size: 25px;
  font-family: sans-serif;
}

.scoreboard span {
margin-right: 2rem;
}

#restart-btn {
border: none;
background-color: #ddd;
color: #333;
font-size: 1rem;
padding: 0.5rem 1rem;
border-radius: 0.25rem;
cursor: pointer;
transition: background-color 0.3s;
}

#restart-btn:hover {
background-color: #333;
color: #fff;
}

@media (max-device-width: 616px) {

  .container {
    max-width: 100%;
  }

  .card {
    height: 115px;
    width: 46%;
    margin: 2%;
  }

  #img {
    width: 80px;
  }

  .scoreboard {
    font-size: 21px;
  }

  #restart-btn {
    font-size: 0.9rem;
    font-family: sans-serif;
  }
    
}

@media (max-device-width: 374px) {

  h1 {
    font-size: 40px;
  }

  .card {
    height: 110px;
    margin: 5px;
  }

  #img {
    width: 70px;
  }
}

@media (max-device-width: 424px) {
  .scoreboard {
    font-size: 17px;
  }
}